---
layout: default
title: xEdit Cleaning and-Error Checking
---
<h1 class="grhead1">Main Table Of Contents</h1>
<div id="tableOfContents" class="grid-toc">
    <div class="toc1">
        <h2 class="grhead2"><a href="index.html">1. Introduction</a></h2>
        <h2 class="grhead2"><a href="2-overview.html">2. Overview</a></h2>
        <h2 class="grhead2"><a href="3-basicuse.html">3. xEdit Basic Use</a></h2>
        <h2 class="grhead2"><a href="4-modgroups.html">4. ModGroups</a></h2>
        <h2 class="grhead2"><a href="5-conflict-detection-and-resolution.html">5. Conflict Detection and Resolution</a></h2>
        <h2 class="grhead2"><a href="6-themethod.html">6. The Method</a></h2>
        <h2 class="grhead2"><a href="7-mod-cleaning-and-error-checking.html">7. Mod Cleaning and Error Checking</a></h2>
        <h2 class="grhead2"><a href="8-managing-mod-files.html">8. Managing Mod Files</a></h2>
        <h2 class="grhead2"><a href="9-mod-utilities.html">9. Mod Utilities</a></h2>
    </div>
    <div class="toc2">
        <h2 class="grhead2"><a href="10-fo3edit-faq.html">10. FO3Edit FAQ</a></h2>
        <h2 class="grhead2"><a href="11-appendix.html">11. Appendix</a></h2>
        <h2 class="grhead2"><a href="12-cheat-sheets-and-quick-reference-charts.html">12. Cheat Sheets and Quick Reference Charts</a></h2>
        <h2 class="grhead2"><a href="13-Scripting-Functions.html">13. Scripting Functions</a></h2>
        <h2 class="grhead2"><a href="14-Scripting-Resources.html">14. Scripting Resources</a></h2>
        <h2 class="grhead2"><a href="15-tutorials.html">15. Tutorials</a></h2>
        <h2 class="grhead2"><a href="16-xLODGen.html">16. xLODGen</a></h2>
        <h2 class="grhead2"><a href="17-DynDoLod.html">17. DynDoLod</a></h2>
        <h2 class="grhead2"><a href="18-whatsnew.html">18. xEdit What's New and Version Info</a></h2>
    </div>
</div>
<h1>{{ page.title }}</h1>
<h2 id="Contents">Contents...</h2>
<p class="list-1">&bull;&nbsp; <a href="#Preface">7.1 Preface</a></p>
<p class="list-2">&bull;&nbsp; <a href="#Formodauthors">7.1.1 For mod authors:</a></p>
<p class="list-2">&bull;&nbsp; <a href="#Formodusers">7.1.2 For mod users:</a></p>
<p class="list-1">&bull;&nbsp; <a href="#Overview">7.2 Overview</a></p>
<p class="list-1">&bull;&nbsp; <a href="#ThreeEasyStepstocleanMods">7.3 Three Easy Steps to clean Mods</a></p>
<p class="list-1">&bull;&nbsp; <a href="#ModCleaningProcess">7.4 Mod Cleaning Process</a></p>
<p class="list-2">&bull;&nbsp; <a href="#TherearenointentionalITMs">7.4.1 There are no intentional ITMs</a></p>
<p class="list-2">&bull;&nbsp; <a href="#WhymustIcleanonefileatatime">7.4.2 Why must I clean one file at a time?</a></p>
<p class="list-2">&bull;&nbsp; <a href="#DifferentwaystoactivateQuickAutoClean">7.4.3 Different ways to activate Quick Auto Clean</a></p>
<p class="list-2">&bull;&nbsp; <a href="#CleaningrenamingtheEXE">7.4.4 Cleaning renaming the EXE</a></p>
<p class="list-2">&bull;&nbsp; <a href="#CleaningusingaDesktopShortcut">7.4.5 Cleaning using a Desktop Shortcut</a></p>
<p class="list-2">&bull;&nbsp; <a href="#ConfiguringQACforyourmodmanager">7.4.6 Configuring QAC for your mod manager</a></p>
<p class="list-3">&bull;&nbsp; <a href="#ConfiguringQACforMO2">7.4.6.1 Configuring QAC for MO2</a></p>
<p class="list-3">&bull;&nbsp; <a href="#ConfiguringQACforVortex">7.4.6.2 Configuring QAC for Vortex</a></p>
<p class="list-3">&bull;&nbsp; <a href="#ConfiguringQACforWryeBash">7.4.6.3 Configuring QAC for Wrye Bash</a></p>
<p class="list-2">&bull;&nbsp; <a href="#QuickCleanVSQuickAutoClean">7.4.7 Quick Clean VS. Quick Auto Clean</a></p>
<p class="list-3">&bull;&nbsp; <a href="#QuickCleanMethod">7.4.7.1 Quick Clean Method</a></p>
<p class="list-3">&bull;&nbsp; <a href="#QuickAutoCleanMethodRecommended">7.4.7.2 Quick Auto Clean Method (Recommended)</a></p>
<p class="list-2">&bull;&nbsp; <a href="#Selectingaplugintoclean">7.4.8 Selecting a plugin to clean</a></p>
<p class="list-2">&bull;&nbsp; <a href="#SortingMasterFileLoadOrders">7.4.9 Sorting Master File Load Orders</a></p>
<p class="list-2">&bull;&nbsp; <a href="#WhenshouldyouuseSortMasters">7.4.10 When should you use Sort Masters?</a></p>
<p class="list-2">&bull;&nbsp; <a href="#UsingCleanMasterstopurgeunusedMasterFileReferences">7.4.11 Using Clean Masters to purge un-used Master File References</a></p>
<p class="list-2">&bull;&nbsp; <a href="#ListingMasterFileReferencesfromaspecificplugin">7.4.12 Listing Master File References from a specific plugin</a></p>
<p class="list-2">&bull;&nbsp; <a href="#CheckingForErrors">7.4.13 Checking For Errors</a></p>
<p class="list-2">&bull;&nbsp; <a href="#CheckingforCircularLeveledLists">7.4.14 Checking for Circular Leveled Lists</a></p>
<p class="list-1">&bull;&nbsp; <a href="#AppendixA">7.5 Appendix A</a></p>
<p class="list-2">&bull;&nbsp; <a href="#TypesofDirtyEdits">7.5.1 Types of Dirty Edits</a></p>
<p class="list-2">&bull;&nbsp; <a href="#IdenticalToMaster">7.5.2 Identical To Master</a></p>
<p class="list-2">&bull;&nbsp; <a href="#DeletedReference">7.5.3 Deleted Reference</a></p>
<p class="list-2">&bull;&nbsp; <a href="#DeletedNavmeshes">7.5.4 Deleted Navmeshes</a></p>
<p class="list-2">&bull;&nbsp; <a href="#WildEdits">7.5.5 Wild Edits</a></p>
<p class="list-1">&bull;&nbsp; <a href="#AppendixBManuallyCleaningDawnguard">7.6 Appendix B - Manually Cleaning Dawnguard</a></p>
<p class="list-1">&bull;&nbsp; <a href="#Glossary">7.7 Glossary</a></p>
<p class="empty">&nbsp;</p>
<h2 class="header2" id="Preface">7.1 - Preface</h2>
<p class="empty">&nbsp;</p>
<p>The principal reason for the presence of dirty mods is a lack of awareness of the issues surrounding dirty mods and the importance of mod cleaning. As such, a community-wide effort is required to raise awareness and so reduce the incidence of dirty mods.</p>
<p class="empty">&nbsp;</p>
<p>It's <B>NOT</B> a good idea for everyone to just go ahead and clean their full load order and then forget about it.</p>
<p class="empty">&nbsp;</p>
<p>The problem is twofold. First, to properly clean mods usually requires an understanding of the <B>intent</B> of the mod author. There might be implicit dependencies on other mods which are not part of the master list. Second, and following from the first, depending on how the cleaning was done, people end up with slightly different versions of these modules, which is going to make support in case of problems a nightmare for the mod author.</p>
<p class="empty">&nbsp;</p>
<p>Mod quality is a community-wide problem that needs to be properly addressed on a community level. Mod authors need to ensure that their mods are clean, because they only need to clean their mod once for all future users to benefit, whereas each and every user of a dirty mod would have to clean it themselves, which is hugely inefficient.</p>
<p class="empty">&nbsp;</p>
<p>The LOOT team provides a focus for community efforts to raise awareness regarding mod cleaning, by accepting reports of dirty mods and attaching them to the relevant plugins in the LOOT masterlist as messages containing a link to this wiki page, along with any additional information supplied. This data is then extracted and displayed to the user by LOOT when it runs, and the data can also be accessed by other utilities that make use of the LOOT API. The result is a central repository of information that can be accessed by a large number of people.</p>
<p class="empty">&nbsp;</p>
<h3 class="header3" id="Formodauthors">7.1.1 - For mod authors:</h3>
<p class="empty">&nbsp;</p>
<p class="list-1">&bull;&nbsp; <B>Clean</B> your mods properly. All of them. You are the one who really knows the intention of your mod. Closely review all changes to make sure they preserve the intent of your mod.</p>
<p class="list-1">&bull;&nbsp; Cleaning mods is NOT just limited to running the automated functions and be done with it. Manually review every override record your module(s) contain to make sure that that's really what you intended to do.</p>
<p class="list-1">&bull;&nbsp; <B>List in your documentation</B> that you <B>HAVE</B> cleaned your mods and which version of TES5Edit you used for it. If there were any implicit dependencies that you had to observe while doing the cleaning, specifically list them and the rational for them.</p>
<p class="empty">&nbsp;</p>
<h3 class="header3" id="Formodusers">7.1.2 - For mod users:</h3>
<p class="empty">&nbsp;</p>
<p class="list-1">&bull;&nbsp; <B>Check</B> any mods you use that do not specifically mention being properly cleaned (by basically doing a dry run of the cleaning process).</p>
<p class="list-1">&bull;&nbsp; If any of your mods are dirty, <B>inform the author</B>. The mod authors are the ones that really understand the intention of their mods. They are the ones that are in the best position to properly clean them. And if they only publish properly cleaned mods, the whole community benefits from it.</p>
<p class="list-1">&bull;&nbsp; If a mod has been deserted by its author or the author is unwilling to fix his mess, just <B>leave a short note</B> on the comments and/or in the RELz thread to save other mod users from wasting their time. Remember: stay civil; flaming doesn't help anyone.</p>
<p class="list-1">&bull;&nbsp; If any of your mods are dirty, submit them to the LOOT team as directed in the LOOT readme, so that others can benefit from your findings.</p>
<p class="empty">&nbsp;</p>
<p class="note">Preface by Wrinkly Ninja</p>
<h2 class="header2" id="Overview">7.2 - Overview</h2>
<p class="empty">&nbsp;</p>
<p>xEdit provides several tools that help mod authors to clean their mods of extraneous / duplicated references, fix deleted references and to merge plugins together. These utilities can help a mod author avoid many conflicts with other mods and is considered a best practice. It is highly recommended that mod authors clean their mods before they are released to the general public, which can avert silly and embarrassing compatibility problems after release and make for a more professional showing in the community.</p>
<p class="empty">&nbsp;</p>
<p>Mod quality is a community wide problem and needs to be addressed on that level. If everyone just tweaks their load order around and cleans mods they installed that's not going to move us forward as a community. It is important that if there are general issues with a mod that these be made public and the author of the mod fixes them. With many of the possibly conflicting changes that a mod makes, it becomes a question of intent when cleaning them up, and only the mod author can give an authoritative answer to that.</p>
<p class="empty">&nbsp;</p>
<p>This chapter is really dedicated to mod authors, and can be safely ignored by mod-users (whew!). Mod Authors that use the GECK should realize that the GECK can set the modified flag on a thing very easily, and that gets saved into your mod as an override to some standard object. The problem comes when players integrate your mod with others that make intentional changes to the standard object that you inadvertently saved &#8211; which is the cause of more conflicts than any other kind between mods today.</p>
<p class="empty">&nbsp;</p>
<p><font class="yellow"><B>NOTE:</B></font> Those not convinced by now to read-through and understand the mod cleaning and merging process are sloppy and should be sacked. For the honorable modders who want to contribute to the community in the right way, read-on.</p>
<p class="empty">&nbsp;</p>
<div>
    <a href="#Preface" class="drkbtn">Previous Section</a>
    <a href="#Overview" class="drkbtn">Top of this Group</a>
</div>
<h2 class="header2" id="ThreeEasyStepstocleanMods">7.3 - Three Easy Steps to clean Mods</h2>
<h3 id="AlsoknowasQACorQuickAutoClean">Also know as QAC or Quick Auto Clean.</h3>
<p>First download the latest version from the nexus. See <a href="2-overview.html#AcquisitionandInstallation">Acquisition and Installation</a> for more information.</p>
<p class="empty">&nbsp;</p>
<p>After you have the latest version downloaded and installed you will use the file that has <code>QuickAutoClean</code> as part of the name as shown below.</p>
<p class="empty">&nbsp;</p>
<p>{% include image-inline.html max-width="" file="img/exealreadyrenamed.jpg" alt="exe already renamed" %}</p>
<h4 id="Hereisasummaryofsteps">Here is a summary of steps.</h4>
<p>1. Run the QuickAutoClean Executable</p>
<p>2. Choose the file to clean</p>
  <p class="list-2">&bull;&nbsp; After choosing the file to clean xEdit will perform all the required cleaning needed automatically.</p>
  <p class="list-2">&bull;&nbsp; If used with Skyrim LE or Skyrim SE this includes any special cleaning requirements for Dawnguard.</p>
<p>3. Close xEdit to save the cleaned file.</p>
<p>4. (Optional but helpful) You can provide the cleaning report at the end of the process to the LOOT team in the official <a href="https://www.afkmods.com/index.php?/topic/5042-relz-loot-load-order-optimisation-tool/">LOOT thread</a>.</p>
  <p class="empty">&nbsp;</p>
<p>Once you run the QuickAutoClean Executable you will see the plugin selection screen. Choose a plugin to clean by double clicking on the file name or place a checkmark next to the filename and click OK.</p>
  <p class="empty">&nbsp;</p>
<p>{% include image.html file="img/qacpluginselect.jpg" alt="qac plugin select" %}</p>
  <p class="empty">&nbsp;</p>
<p>Once xEdit finishes you will see the LOOT report and xedit will say the cleaning process has finished in the Messages tab.</p>
  <p class="empty">&nbsp;</p>
<p>{% include image.html file="img/qacfinishedclosexedit.png" alt="qac finished close xedit" %}</p>
  <p class="empty">&nbsp;</p>
<p>Once the cleaning process is done, simply close xEdit to save the file. You may then clean other DLC or mods the same way.</p>
  <p class="empty">&nbsp;</p>
<h2 class="header2" id="ModCleaningProcess">7.4 - Mod Cleaning Process</h2>
  <p class="empty">&nbsp;</p>
<p>Because there are so many ways to start xEdit in Quick Auto Clean mode <a href="#ThreeEasyStepstocleanMods">Three Easy Steps to clean Mods</a> will show you how to clean a file. The process is the same for any file DLC or otherwise.</p>
  <p class="empty">&nbsp;</p>
<p class="note"> The <a href="9-mod-utilities.html#ManualCleaningfunctionsaredeprecated">Manual Cleaning functions are deprecated</a> and no longer available. Any guides suggesting a manual cleaning process are outdated. Please ask the author of the guide to remove any cleaning steps from their guide.</p>
  <p class="empty">&nbsp;</p>
<h3 class="header3" id="TherearenointentionalITMs">7.4.1 - There are no intentional ITMs</h3>
  <p class="empty">&nbsp;</p>
<section class="quote">
<p class="attr">Elminster</p>
<p>If your mod contains intentional ITMs, then there is something wrong with it. If you have a specific conflict with a specific mod and you create a compatibility patch with ITMs and that other mod as master, then your ITMs will become identical to master, but conflict winner and don't get cleaned, ergo no intentional ITMs.</p>
</section>
  <p class="empty">&nbsp;</p>
<p>There can be no intentional ITMs because as mentioned making a patch and using the mod with these types of records as a master would cause the records in the patch to become identical to master but the conflict winner. As mentioned in <a href="#WhymustIcleanonefileatatime">Why must I clean one file at a time</a> any record that is identical to the master but a conflict winner would not be cleaned from the mod.</p>
  <p class="empty">&nbsp;</p>
<h3 class="header3" id="WhymustIcleanonefileatatime">7.4.2 - Why must I clean one file at a time?</h3>
  <p class="empty">&nbsp;</p>
<p>The records you are trying to clean are the records that override changes to vanilla values. It has always been explained that you can't load additional modules. It can turn <B>identical to master</B> into <B>identical to master, but conflict winner</B> where the later will not be cleaned from the module. When those are EXACTLY the records you want to clean. So cleaning while having additional modules loaded makes the complete process utterly pointless and a waste of time.</p>
  <p class="empty">&nbsp;</p>
<p>Cleaning with all your mods loaded would be like looking for someone through a crowd of people. You can't see through the crowd and with all the mods loaded xEdit can't see only the masters of the plugin. This prevents it from calculating ITMs accurately.</p>
  <p class="empty">&nbsp;</p>
<p>While Quick Auto Clean may be new nothing has changed. You would not have been able to clean with multiple mods loaded even with previous versions. People may have claimed to have done this in the past however, they were not cleaning their mods properly.</p>
  <p class="empty">&nbsp;</p>
<div>
    <a href="#Overview" class="drkbtn">Previous Section</a>
    <a href="#ModCleaningProcess" class="drkbtn">Top of this Group</a>
</div>
  <p class="empty">&nbsp;</p>
<h3 class="header3" id="DifferentwaystoactivateQuickAutoClean">7.4.3 - Different ways to activate Quick Auto Clean</h3>
  <p class="empty">&nbsp;</p>
<p>Aside from the <a href="#ThreeEasyStepstocleanMods">Three Easy Steps to clean Mods</a> mentioned already, there are several ways to activate Quick Auto Clean. <a href="#CleaningrenamingtheEXE">Cleaning renaming the EXE</a>, <a href="#CleaningusingaDesktopShortcut">Cleaning using a Desktop Shortcut</a>, or by <a href="#ConfiguringQACforyourmodmanager">Configuring QAC for your mod manager</a>.</p>
  <p class="empty">&nbsp;</p>
<p>The easiest way is to use the EXE file provided when <a href="2-overview.html#DownloadingxEditfromtheNexus">Downloading xEdit from the Nexus</a>. It is already renamed properly to be used to clean your mods as shown below.</p>
  <p class="empty">&nbsp;</p>
<p>{% include image-inline.html max-width="" file="img/exealreadyrenamed.jpg" alt="exe already renamed" %}</p>
  <p class="empty">&nbsp;</p>
<div>
    <a href="#WhymustIcleanonefileatatime" class="drkbtn">Previous Section</a>
    <a href="#ModCleaningProcess" class="drkbtn">Top of this Group</a>
</div>
<h3 class="header3" id="CleaningrenamingtheEXE">7.4.4 - Cleaning renaming the EXE</h3>
  <p class="empty">&nbsp;</p>
<p>You can add "QAC" or "QuickAutoClean" to the filename and create a shortcut to use the Quick Clean procedure. For Skyrim SE you would name it "SSEEditQAC.exe" or "SSEEditQuickAutoClean.exe" as shown below.</p>
  <p class="empty">&nbsp;</p>
<p>{% include image.html file="img/clean-rename-exe.jpg" alt="clean rename exe" %}</p>
<div>
    <a href="#DifferentwaystoactivateQuickAutoClean" class="drkbtn">Previous Section</a>
    <a href="#ModCleaningProcess" class="drkbtn">Top of this Group</a>
</div>
<h3 class="header3" id="CleaningusingaDesktopShortcut">7.4.5 - Cleaning using a Desktop Shortcut</h3>
  <p class="empty">&nbsp;</p>
<p>When creating a shortcut go to the folder where you installed xEdit. Right click the file name and choose "Send To" and then "Desktop (create a shortcut)" to create a shortcut.</p>
  <p class="empty">&nbsp;</p>
<p>There are two parameters. <code>-quickautoclean</code> and <code>-qac</code>.</p>
  <p class="empty">&nbsp;</p>
<p>{% include image.html file="img/create-shortcut.jpg" alt="create-shortcut" %}</p>
  <p class="empty">&nbsp;</p>
<p>The parameter will go in the "Target" box.</p>
  <p class="empty">&nbsp;</p>
<p>{% include image.html file="img/shortcut-properties.jpg" alt="shortcut-properties" %}</p>
  <p class="empty">&nbsp;</p>
<p>Quick video on how to add the parameter.</p>
  <p class="empty">&nbsp;</p>
<iframe src="https://www.youtube.com/embed/G5jL5iKfGSk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  <p class="empty">&nbsp;</p>
<div>
    <a href="#CleaningrenamingtheEXE" class="drkbtn">Previous Section</a>
    <a href="#ModCleaningProcess" class="drkbtn">Top of this Group</a>
</div>
<h3 class="header3" id="ConfiguringQACforyourmodmanager">7.4.6 - Configuring QAC for your mod manager</h3>
  <p class="empty">&nbsp;</p>
<p>To run <a href="18-whatsnew.html#QuickAutoClean">Quick Auto Clean</a> from your mod manager you will need to add <code>-quickautoclean</code> to the mod manager's launcher. The three methods shown are for <a href="#ConfiguringQACforMO2">Configuring QAC for MO2</a>, <a href="#ConfiguringQACforVortex">Configuring QAC for Vortex</a>, and <a href="#ConfiguringQACforWryeBash">Configuring QAC for Wrye Bash</a>.</p>
  <p class="empty">&nbsp;</p>
<h4 class="header4" id="ConfiguringQACforMO2">7.4.6.1 - Configuring QAC for MO2</h4>
  <p class="empty">&nbsp;</p>
<p>For MO2 you would add the parameter to the Arguments.</p>
  <p class="empty">&nbsp;</p>
<p>{% include image.html file="img/MO2-Application-Dark-box.jpg" alt="MO2-Application-Dark-box" %}</p>
  <p class="empty">&nbsp;</p>
<p>For more information you can refer to the STEP <a href="https://wiki.step-project.com/Guide:XEdit#Cleaning_plugins_with_xEdit">Guide:XEdit</a></p>
  <p class="empty">&nbsp;</p>
<div>
    <a href="#CleaningusingaDesktopShortcut" class="drkbtn">Previous Section</a>
    <a href="#ModCleaningProcess" class="drkbtn">Top of this Group</a>
</div>
<h4 class="header4" id="ConfiguringQACforVortex">7.4.6.2 - Configuring QAC for Vortex</h4>
  <p class="empty">&nbsp;</p>
<p>For Vortex you would add the parameter to the Command Line box.</p>
  <p class="empty">&nbsp;</p>
<p>{% include image.html file="img/vortex-launcher-box.jpg" alt="vortex-launcher-box" %}</p>
  <p class="empty">&nbsp;</p>
<p>For more information you can refer to the Nexus Wiki <a href="https://wiki.nexusmods.com/index.php/Tool_Setup:_xEdit">Tool Setup: xEdit</a></p>
  <p class="empty">&nbsp;</p>
<div>
    <a href="#ConfiguringQACforMO2" class="drkbtn">Previous Section</a>
    <a href="#ModCleaningProcess" class="drkbtn">Top of this Group</a>
</div>
<h4 class="header4" id="ConfiguringQACforWryeBash">7.4.6.3 - Configuring QAC for Wrye Bash</h4>
  <p class="empty">&nbsp;</p>
<p>For Wrye Bash you will need to create a <a href="#CleaningusingaDesktopShortcut">Desktop Shortcut</a> first. Once you have done so navigate to the Mopy folder for the game you are configuring. In this case I chose Skyrim Special Edition. Copy or Cut and paste the shortcut into the Apps folder as shown below.</p>
  <p class="empty">&nbsp;</p>
<p>{% include image.html file="img/qac-wryebash-appsfolder.jpg" alt="qac-wryebash-appsfolder" %}</p>
  <p class="empty">&nbsp;</p>
<p>The next time you launch Wrye Bash the QAC shortcut will appear in the tool bar at the bottom of the screen.</p>
  <p class="empty">&nbsp;</p>
<p>{% include image.html file="img/qac-wryebash-toolbar.jpg" alt="qac-wryebash-toolbar" %}</p>
  <p class="empty">&nbsp;</p>
<div>
    <a href="#ConfiguringQACforVortex" class="drkbtn">Previous Section</a>
    <a href="#ModCleaningProcess" class="drkbtn">Top of this Group</a>
</div>
<h3 class="header3" id="QuickCleanVSQuickAutoClean">7.4.7 - Quick Clean VS. Quick Auto Clean</h3>
  <p class="empty">&nbsp;</p>
<p>The main difference between Quick Clean and Quick Auto Clean is that Quick Clean prompts you to save the file when closing xEdit after the cleaning process finishes.</p>
  <p class="empty">&nbsp;</p>
<p>Both Quick Clean and Quick Auto Clean run through the cleaning process more than once. Running the process additional times corrects inconsistancies not corrected by completing the process only once. Some DLC requires additional corrections that can only be completed after the process has run at least one time.</p>
  <p class="empty">&nbsp;</p>
<p>The only disadvantage is that when using Quick Clean you may have use the procedure more then once on some DLC. With Quick Auto Clean this is not needed.</p>
<div>
    <a href="#ConfiguringQACforyourmodmanager" class="drkbtn">Previous Section</a>
    <a href="#ModCleaningProcess" class="drkbtn">Top of this Group</a>
</div>
<h4 class="header4" id="QuickCleanMethod">7.4.7.1 - Quick Clean Method</h4>
  <p class="empty">&nbsp;</p>
<p>This method is for those who want to be more involved in the process.</p>
  <p class="empty">&nbsp;</p>
<p>This procedure cleans 2 times. Some DLC requires that they are cleaned twice because after saving the cleaned mod's records are updated. The quick clean procedure does not save in between each step. When you close xEdit you will have the option to save the file with the changes or cancel. You will have to repeat this step for any DLC that requires multiple cleanings.</p>
  <p class="empty">&nbsp;</p>
<p>To enable this procedure, you would create a shortcut on your desktop and add the <code>-quickclean</code>  parameter.</p>
  <p class="empty">&nbsp;</p>
<p>{% include image.html file="img/quick-clean.jpg" alt="quick-clean" %}</p>
<div>
    <a href="#QuickCleanVSQuickAutoClean" class="drkbtn">Previous Section</a>
    <a href="#ModCleaningProcess" class="drkbtn">Top of this Group</a>
</div>
  <p class="empty">&nbsp;</p>
<h4 class="header4" id="QuickAutoCleanMethodRecommended">7.4.7.2 - Quick Auto Clean Method (Recommended)</h4>
  <p class="empty">&nbsp;</p>
<p>This is the preferred and recommended method. You will have to close xEdit once the process terminates but everything is automatic.</p>
  <p class="empty">&nbsp;</p>
<p>This procedure cleans 3 times and saves in between each step. Some DLC requires that they are cleaned twice because after saving the cleaned mod's records are updated. Because the quick auto clean procedure saves between each step, you no longer need to clean DLC multiple times with the feature. However, this process is automatic and you will not be able to stop it. You will only be able to review the changes once the process is completed.</p>
  <p class="empty">&nbsp;</p>
<p>To enable this procedure, you would create a shortcut on your desktop and add the <code>-quickautoclean</code> parameter.</p>
  <p class="empty">&nbsp;</p>
<p>{% include image.html file="img/quick-auto.jpg" alt="quick-auto" %}</p>
  <p class="empty">&nbsp;</p>
<p>For quick auto clean you will not be given an option to save. When finished you can review the changes, copy the LOOT info, and see any errors that occurred. For quick clean you will be presented with an option to save the plugin or cancel.</p>
<div>
    <a href="#QuickCleanMethod" class="drkbtn">Previous Section</a>
    <a href="#ModCleaningProcess" class="drkbtn">Top of this Group</a>
</div>
<h3 class="header3" id="Selectingaplugintoclean">7.4.8 - Selecting a plugin to clean</h3>
  <p class="empty">&nbsp;</p>
<p class="note">If you have not set up Quick Auto Clean you can <a href="7-mod-cleaning-and-error-checking.html#CleaningrenamingtheEXE">rename the EXE</a> or add a <a href="7-mod-cleaning-and-error-checking.html#AddingaComandLineParameter">command line Parameter</a> to a shortcut or your mod manager.</p>
  <p class="empty">&nbsp;</p>
<p>When selecting a plugin to clean double click a plugin name, or check one and click OK.</p>
  <p class="empty">&nbsp;</p>
<p>{% include image.html file="img/clean-plug-select.jpg" alt="clean-plug-select" %}</p>
<div>
    <a href="#QuickAutoCleanMethodRecommended" class="drkbtn">Previous Section</a>
    <a href="#ModCleaningProcess" class="drkbtn">Top of this Group</a>
</div>
  <p class="empty">&nbsp;</p>
<h3 class="header3" id="SortingMasterFileLoadOrders">7.4.9 - Sorting Master File Load Orders</h3>
  <p class="empty">&nbsp;</p>
<p>There are times in which the load order of Master files gets switched around when you add/change load orders. The, "Sort Masters" function corrects the master file load order in the Plugins MASTer list, and correctly renumbers all file specific FormIDs.</p>
  <p class="empty">&nbsp;</p>
<p>{% include image.html file="img/image140.jpg" alt="image140" %}</p>
  <p class="empty">&nbsp;</p>
<p>There is no specific log-output from the function unless there is a problem. If you see "Done sorting masters" and no issues or errors in the Messages Tab, then the function sorted the masters correctly.</p>
  <p class="empty">&nbsp;</p>
<p>{% include image-inline.html max-width="" file="img/cleanmasters-done.jpg" alt="cleanmasters-done" %}</p>
  <p class="empty">&nbsp;</p>
<div>
    <a href="#Selectingaplugintoclean" class="drkbtn">Previous Section</a>
    <a href="#ModCleaningProcess" class="drkbtn">Top of this Group</a>
</div>
<h3 class="header3" id="WhenshouldyouuseSortMasters">7.4.10 - When should you use Sort Masters?</h3>
  <p class="empty">&nbsp;</p>
<section class="quote">
<p class="attr">Elminster</p>
<p>If a plugin has two masters that are siblings (one doesn't have the other as a master, so they can load in either order) and they are overriding the same record from an earlier master (e.g. both are overriding a record from the main game master file), then loading them in a different order will result in a different version of the overridden record being the "winner". But the plugin might depend on the winner being the one indicated by the order in which it references the masters.</p>
</section>
  <p class="empty">&nbsp;</p>
<p>To put it another way the header of a file is like a small history of how the mods were sorted when the module was created. If the masters are only the DLC it is probably safe to sort the masters. It is also safe when there is one <code>.esp</code> file as a master along with DLC. The only time you would want to closely examine the module is if it has more than one <code>.esp</code> file as a master. Because as mentioned above, the order of the masters may be important according to how the conflicts were resolved. If this is the case set these plugins to sort differently with <a href="https://github.com/loot/loot/releases">LOOT</a>.</p>
  <p class="empty">&nbsp;</p>
<div>
    <a href="#SortingMasterFileLoadOrders" class="drkbtn">Previous Section</a>
    <a href="#ModCleaningProcess" class="drkbtn">Top of this Group</a>
</div>
<h3 class="header3" id="UsingCleanMasterstopurgeunusedMasterFileReferences">7.4.11 - Using Clean Masters to purge un-used Master File References</h3>
  <p class="empty">&nbsp;</p>
<p>Master File References are links or references from your Plugin to any Master files (ESMs) that it depends on to run, and stores the list in a record called, "MAST". Most Plugins have the game's ESM file in their master list, but you can have many such links in a plugin. For example for Fallout3 each file will start with Fallout3.esm. If when you create a <a href="5-conflict-detection-and-resolution.html#CreatingaMergedPatchAutomaticMethod">Merged Patch</a> with xEdit, it puts links to many or nearly-all of the master files in your mod list. It is possible in some cases for a Plugin to contain a link to a master file that it does not need.</p>
  <p class="empty">&nbsp;</p>
<p>For example, suppose the Plugin we are cleaning had MasterB.esm in its MASTer list but it doesn't contain any overrides for, or makes any other references to, records from MasterB.esm. In that case we would not need nor want MasterB.esm listed in the MASTer record for our Plugin! This function detects any un-used MASTer references in the Plugin we are cleaning, and removes them from the MASTer list. xEdit also renumbers any file specific FormIDs in the Plugin to ensure that it is cleaned properly.</p>
  <p class="empty">&nbsp;</p>
<p>The screenshot below illustrates how to activate the, "Clean Masters" function:</p>
  <p class="empty">&nbsp;</p>
<p>{% include image.html file="img/image146.jpg" alt="image146" %}</p>
  <p class="empty">&nbsp;</p>
<p>Unfortunately there is no log-file output for this function. If you see "Done cleaning masters" and no issues or errors in the Messages Tab, then the function cleaned the masters correctly.</p>
  <p class="empty">&nbsp;</p>
<p>The screenshot below illustrates how the <a href="https://www.nexusmods.com/fallout3/mods/867">BetterCaravans</a> mod looks now that it's clean, with it's new sparkly (bold)-Green text in the <a href="2-overview.html#NavigationTree">Navigation Tree</a> (A):</p>
  <p class="empty">&nbsp;</p>
<p>{% include image.html file="img/image148.jpg" alt="image148" %}</p>
  <p class="empty">&nbsp;</p>
<p>At this point you should save your mod and load it up in-game to make sure that everything is still happy.</p>
  <p class="empty">&nbsp;</p>
<p><font class="yellow">NOTE:</font> You should not remove masters from other people's mods! You will drastically effect the mod and it will no longer perform the changes the author intended. It is the responsibility of each mod author to remove unused masters. You can request that the mod author provide another version. Please be respectful if they refuse to remove masters as some mod authors intentionally override specific records in order for the mod to effect the game the way they intended.</p>
  <p class="empty">&nbsp;</p>
<div>
    <a href="#WhenshouldyouuseSortMasters" class="drkbtn">Previous Section</a>
    <a href="#ModCleaningProcess" class="drkbtn">Top of this Group</a>
</div>
<h3 class="header3" id="ListingMasterFileReferencesfromaspecificplugin">7.4.12 - Listing Master File References from a specific plugin</h3>
  <p class="empty">&nbsp;</p>
<p>{% include image.html file="img/list-ref-master.jpg" alt="list-ref-master" %}</p>
  <p class="empty">&nbsp;</p>
<p>When using Clean Masters if references are still in use the Master will not be removed from the master list. In order to list references we will be using a script named <code>List records referencing specific plugin.pas</code>. This may take a while depending on how many references there are in the Plugin.</p>
  <p class="empty">&nbsp;</p>
<p>{% include image.html file="img/list-ref-master-done.jpg" alt="list-ref-master-done" %}</p>
  <p class="empty">&nbsp;</p>
<p>For the above example I chose to list the references used by 04 for <code>PointLookout.esm</code>.</p>
  <p class="empty">&nbsp;</p>
<p>A notification will appear in the messages tab when the operation is complete. All of the records referencing the plugin will be listed. You will need to properly deal with all the references before xEdit will remove the master. This could mean changing a reference to reference another master or removing the reference entirely.</p>
  <p class="empty">&nbsp;</p>
<p><font class="yellow">NOTE:</font> You should not remove masters from other people's mods! You will drastically effect the mod and it will no longer perform the changes the author intended. It is the responsibility of each mod author to remove unused masters. You can request that the mod author provide another version. Please be respectful if they refuse to remove masters as some mod authors intentionally override specific records in order for the mod to effect the game the way they intended.</p>
  <p class="empty">&nbsp;</p>
<div>
    <a href="#UsingCleanMasterstopurgeunusedMasterFileReferences" class="drkbtn">Previous Section</a>
    <a href="#ModCleaningProcess" class="drkbtn">Top of this Group</a>
</div>
<h3 class="header3" id="CheckingForErrors">7.4.13 - Checking For Errors</h3>
  <p class="empty">&nbsp;</p>
<p class="note"> There are errors in the official DLCs. Do not attempt to correct them.</p>
  <p class="empty">&nbsp;</p>
<p>The "Check for Errors" function reports any case in which the information contained in a module file does not match the xEdit record definitions. There is a very minimal chance that something that's reported as an error is actually an oversight in the xEdit record definitions and not in the module, but all cases should be reported to be safe. Running the check is a recommended practice as part of the mod-cleaning process as shown below:</p>
  <p class="empty">&nbsp;</p>
<p>{% include image.html file="img/image150.jpg" alt="image150" %}</p>
  <p class="empty">&nbsp;</p>
<p>When the error-check is complete, the screenshot below shows you how the output will look when errors are found in a module:</p>
  <p class="empty">&nbsp;</p>
<p><code>PACK \ Locations \ PLDT - Location 1 \ Location -> Found a NULL reference, expected: ACHR,ACRE,PBEA,PGRE,PLYR,PMIS,REFR</code></p>
  <p class="empty">&nbsp;</p>
<p>In this example a reference was found but xEdit expected a different type of reference. These kinds of errors are not serious and should be sent to <a href="https://www.nexusmods.com/newvegas/users/167469">Elminster</a> to ensure xEdit has the right information.</p>
  <p class="empty">&nbsp;</p>
<p>{% include image.html file="img/checkerrors-expected.jpg" alt="checkerrors-expected" %}</p>
  <p class="empty">&nbsp;</p>
<p><code>TES4 \ ONAM - Overriden Forms \ Form #0 -> [1300DBC4] &lt; Error: Could not be resolved &gt;</code></p>
  <p class="empty">&nbsp;</p>
<p>In this example we found Unresolved Reference errors (Ouch!) These errors are very serious as they indicate a record from the mod is trying to reference something, but what it is looking for is missing from the mod or the master of the mod. Mod authors should never leave these uncorrected! They should be corrected by the mod author and not by you!.</p>
  <p class="empty">&nbsp;</p>
<p>{% include image.html file="img/checkerrors-unresolved.jpg" alt="checkerrors-unresolved" %}</p>
  <p class="empty">&nbsp;</p>
<p>If other errors were found such as data that is missing, Flags or Idle Timer Settings, then those errors should be corrected by the mod author and not by you!.</p>
  <p class="empty">&nbsp;</p>
<div>
    <a href="#ListingMasterFileReferencesfromaspecificplugin" class="drkbtn">Previous Section</a>
</div>
<h3 class="header3" id="CheckingforCircularLeveledLists">7.4.14 - Checking for Circular Leveled Lists</h3>
  <p class="empty">&nbsp;</p>
<p>{% include image.html file="img/image154.jpg" alt="image154" %}</p>
  <p class="empty">&nbsp;</p>
<p>With mods it is possible to have Leveled Lists that reference other Leveled Lists that are perfectly valid. However, it's possible in some cases that a mod builds a circular reference (with as little as 2 leveled lists directly referencing each other, or any number of additional leveled lists in the chain). When the game engine then tries to resolve that leveled lists down to a particular item/creature/NPC, it can get caught in the endless loop and crash. This function looks for such cases and identifies them if they exist:</p>
  <p class="empty">&nbsp;</p>
<p>I have not yet found an example in any mod of such a circular leveled list, but I do know that they exist and that xEdit can spot them. If you don't get any output from running this function, then the checked mod is clean of such loops.</p>
  <p class="empty">&nbsp;</p>
<div>
    <a href="#CheckingForErrors" class="drkbtn">Previous Section</a>
</div>
  <p class="empty">&nbsp;</p>
<h2 class="header2" id="AppendixA">7.5 - Appendix A</h2>
  <p class="empty">&nbsp;</p>
<h3 class="header3" id="TypesofDirtyEdits">7.5.1 - Types of Dirty Edits</h3>
  <p class="empty">&nbsp;</p>
<h3 id="IdenticalToMaster">7.5.2 - Identical To Master</h3>
  <p class="empty">&nbsp;</p>
<p class="note">Remember <a href="#TherearenointentionalITMs">there are no intentional ITMs</a>. Cleaning mods to remove <a href="#DeletedReference">deleted references</a> and ITMs prevents unexplained CTDs and other issues.</p>
  <p class="empty">&nbsp;</p>
<p>Identical to Master (ITM) edits are the most common type of dirty edit. They're where a mod has overwritten something in the game without actually changing anything. If another mod higher up in the load order makes an intentional change to that thing, it will have its effect canceled out by the ITM record, which can cause problems. ITM edits can be cleaned automatically using xEdit.</p>
  <p class="empty">&nbsp;</p>
  <p class="empty">&nbsp;</p>
<p><B><I>Example 1: Identical To Master Edits</I></B></p>
  <p class="empty">&nbsp;</p>
<p>Consider a quest mod in which the author has also changed the properties of some sneaking settings to better fit with other areas of the quest mod. The author then later decides the sneaking changes are unnecessary, and sets them back to their original values. If this quest mod were then loaded after a mod that overhauls the sneaking system, the sneaking overhaul's effects would be at least partially undone by the quest mod, which is not the effect intended by the author of either mod, nor the effect desired by the user.</p>
  <p class="empty">&nbsp;</p>
<p>The solution would be to clean the quest mod, which would remove the ITM edits and allow the sneaking overhaul mod to function as intended.</p>
  <p class="empty">&nbsp;</p>
<h3 id="DeletedReference">7.5.3 - Deleted Reference</h3>
  <p class="empty">&nbsp;</p>
<p>Deleted references are a significant cause of crashes and game bugs. This is because if one mod tries to modify a reference that another mod has deleted, then the first mod cannot find the reference, and this then causes problems. A deleted reference can be fixed by undeleting then disabling the references and moving it to a position where it is no longer visible in the Creation Kit (xEdit sets the Z axis position to -30,000 units). This has the same effect as deleting the reference, without causing issues. Deleted references can be cleaned automatically using xEdit.</p>
  <p class="empty">&nbsp;</p>
<h3 id="DeletedNavmeshes">7.5.4 - Deleted Navmeshes</h3>
  <p class="empty">&nbsp;</p>
<p>Like deleting records, deleting navmeshes can cause crashes. However, these cannot be automatically corrected, and require manual cleaning.</p>
  <p class="empty">&nbsp;</p>
<h3 id="WildEdits">7.5.5 - Wild Edits</h3>
  <p class="empty">&nbsp;</p>
<p>Wild edits are unintentional or misdirected edits to game elements by a mod author that cause unnecessary conflicts with other mods. They are called wild edits because they often appear to have been made haphazardly with no relation to the author's stated intentions. Because detecting wild edits involves knowing what the mod is supposed to do, they must be cleaned manually.</p>
  <p class="empty">&nbsp;</p>
<p>One example of a wild edit would be when a container is incorrectly modified to include an item, but instead of only that one container including the item, the result is that all containers of the same type include the item. If the description of the mod states that an item is added to a specific container, then it is clear this is a wild edit and the mod should be cleaned by fixing the wild edit.</p>
<div>
    <a href="#CheckingforCircularLeveledLists" class="drkbtn">Previous Section</a>
</div>
<h2 class="header2" id="AppendixBManuallyCleaningDawnguard">7.6 - Appendix B - Manually Cleaning Dawnguard</h2>
<p>The image used is from <a href="https://www.afkmods.com/index.php?/topic/4110-manual-cleaning-skyrim-and-skyrim-se-master-files/">alt3rn1ty's guide on AFK Mods</a>. The step is shown here because there is no longer a manual cleaning process, and you never needed to apply any filters to perform this step in the first place.</p>
  <p class="empty">&nbsp;</p>
<p><font class="orange"><B>NOTE:</B></font> This is the only step required. The old guide is obsolete. You do not need to confirm that this is the only step. <B><I>If there were more steps they would be shown</I></B>.</p>
<h3 id="Step1RemoveXEZNsubrecordfromRiftenRatwayZone">Step 1: Remove XEZN subrecord from RiftenRatwayZone.</h3>
<p class="list-1">&bull;&nbsp; In the upper left corner enter 00016BCF into the FormID field in xEdit. After you enter 00016BCF press [ENTER] to jump to that cell.</p>
<p class="list-1">&bull;&nbsp; Scroll to the right and scroll down until you see the XEZN field. Right click the indicated sub-record, and choose Remove.</p>
<p class="empty">&nbsp;</p>
<p>{% include image.html file="img/Ratway-Zone-Change.png" alt="Ratway-Zone-Change" %}</p>
<p class="empty">&nbsp;</p>
<div>
    <a href="#AppendixA" class="drkbtn">Previous Section</a>
</div>
<p class="empty">&nbsp;</p>
<h2 class="header2" id="Glossary">7.7 - Glossary</h2>
<p class="empty">&nbsp;</p>
<p>This glossary contains definitions for the general modding terms and cleaning-specific terms used in this guide.</p>
<p class="empty">&nbsp;</p>
<p class="list-1">&nbsp;&nbsp; <B>Mod:</B> A modification for Skyrim. Can be player-made or official DLC.</p>
<p class="list-1">&nbsp;&nbsp; <B>Plugin:</B> A file with a .esp or .esm file extension (well, it's what's inside the file that matters, but the file extension is a pretty good clue).</p>
<p class="list-1">&nbsp;&nbsp; <B>Record:</B> A data structure inside a plugin that holds the information on one element of the game. For example, each type of weapon, each race, each potion, etc. have different records.</p>
<p class="list-1">&nbsp;&nbsp; <B>Rule of One:</B> Only one plugin's changes to a record can be applied by the game. If multiple plugins change the same record, then the changes from the last of those plugins in the load order will be applied. There are a few exemptions, eg. if multiple plugins put things into the same cell, then all those things will be seen in-game, but in general the rule holds for non-complex record types (and complex record types are beyond the scope of this guide).</p>
<p class="list-1">&nbsp;&nbsp; <B>Load order:</B> The order in which plugins are loaded.</p>
<p class="list-1">&nbsp;&nbsp; <B>Dirty mod:</B> A mod that contains dirty edits, wild edits, deleted references or any combination of them.</p>
<p class="list-1">&nbsp;&nbsp; <B>Dirty edit:</B> An edit made which is unnecessary, often caused by Creation Kit bugs or authors making unintended edits then undoing them incorrectly. Such edits can be cleaned automatically.</p>
<p class="list-1">&nbsp;&nbsp; <B>Identical To Master edit:</B> A type of dirty edit made where the edited value(s) is/are identical to the value(s) without the edit.</p>
<p class="list-1">&nbsp;&nbsp; <B>Wild edit:</B> An edit made which is not consistent with the intent of the mod, often caused by authors accidentally making small edits or trying to perform an edit in the wrong way. Such edits must be cleaned manually.</p>
<p class="list-1">&nbsp;&nbsp; <B>Deleted reference:</B> A reference to a record that has been deleted. For example, placing a Silver Sword into the game world creates a Silver Sword reference there, which may then be removed by deleting it.</p>
<p class="list-1">&nbsp;&nbsp; <B>Dependency:</B> A plugin upon which another plugin relies. For example, Skyrim.esm is a dependency for most mods.</p>
<p class="list-1">&nbsp;&nbsp; <B>Explicit dependency:</B> A dependency that is recorded within the dependent plugin, such that the game cannot be loaded without the dependency being satisfied.</p>
<p class="list-1">&nbsp;&nbsp; <B>Implicit dependency:</B> A dependency for which there is no indication given within the dependent plugin, and which can only be determined by considering author intent.</p>
<div>
    <a href="#AppendixBManuallyCleaningDawnguard" class="drkbtn">Previous Section</a>
</div>
<div>
    <a href="6-themethod.html" class="drkbtn">&laquo; Previous Page</a>
    <a href="8-managing-mod-files.html" class="drkbtn">Next Page &raquo;</a>
</div>
